# Thid only intend for local development and testing
# At the mean time there is no documentation how set this up
# envchain --set gitlab DANGER_GITLAB_API_TOKEN
export DANGER_GITLAB_API_TOKEN=$(envchain gitlab env | grep DANGER_GITLAB_API_TOKEN | cut -d'=' -f2)
export DANGER_GITLAB_TEAM=local
# export DANGER_FAKE_CI="YEP"
export DANGER_TEST_REPO="HnBI/platform-as-a-service/test-projects/automate-code-review"
export NO_NEWLINE_PR="https://gitlab.com/HnBI/platform-as-a-service/test-projects/automate-code-review/-/merge_requests/1"
