# Thid only intend for local development and testing
# At the mean time there is no documentation how set this up
# envchain --set gitlab DANGER_GITLAB_API_TOKEN
export DANGER_GITLAB_API_TOKEN=$(envchain gitlab env | grep DANGER_GITLAB_API_TOKEN | cut -d'=' -f2)
export DANGER_GITLAB_TEAM=local
export DANGER_FAKE_CI="YEP"
export DANGER_TEST_REPO="HnBI/platform-as-a-service/test-projects/automate-code-review"
export PR_NO_NEWLINE="https://gitlab.com/HnBI/platform-as-a-service/test-projects/automate-code-review/-/merge_requests/1"
export PR_SHOULD_POST_MANUAL_APPLY="https://gitlab.com/HnBI/platform-as-a-service/test-projects/automate-code-review/-/merge_requests/2"
export PR_DYNAMO_MODIFY_MULTIPLE_KEYS="https://gitlab.com/HnBI/platform-as-a-service/test-projects/automate-code-review/-/merge_requests/3"
export PR_CREATE_RDS_DATABASE="https://gitlab.com/HnBI/platform-as-a-service/test-projects/automate-code-review/-/merge_requests/4"
export PR_CLUSTER_CONFIG_MODIFIED_V1="https://gitlab.com/HnBI/platform-as-a-service/k8s-cluster-config/-/merge_requests/411"
export PR_INFRA_TEMPLATE_MISSING_V1="https://gitlab.com/HnBI/platform-as-a-service/infrastructure/-/merge_requests/3191"
export DANGER_TEST_PR=3
export DANGER_PR_URL=$PR_DYNAMO_MODIFY_MULTIPLE_KEYS
export DANGER_GITLAB_HOST=https://gitlab.com
