# Thid only intend for local development and testing
# At the mean time there is no documentation how set this up
# envchain --set gitlab DANGER_GITLAB_API_TOKEN
export DANGER_GITLAB_API_TOKEN=$(envchain gitlab env | grep DANGER_GITLAB_API_TOKEN | cut -d'=' -f2)
export DANGER_GITLAB_TEAM=local
export DANGER_GITLAB_HOST=https://gitlab.com
export DANGER_FAKE_CI="YEP"
export DANGER_TEST_REPO="HnBI/platform-as-a-service/infrastructure"
export PR_NO_NEWLINE="https://gitlab.com/HnBI/platform-as-a-service/test-projects/automate-code-review/-/merge_requests/1"
export PR_SHOULD_POST_MANUAL_APPLY="https://gitlab.com/HnBI/platform-as-a-service/test-projects/automate-code-review/-/merge_requests/2"
export PR_DYNAMO_MODIFY_MULTIPLE_KEYS="https://gitlab.com/HnBI/platform-as-a-service/test-projects/automate-code-review/-/merge_requests/3"
export PR_CREATE_RDS_DATABASE="https://gitlab.com/HnBI/platform-as-a-service/test-projects/automate-code-review/-/merge_requests/4"
export PR_CLUSTER_CONFIG_MODIFIED_V1="https://gitlab.com/HnBI/platform-as-a-service/k8s-cluster-config/-/merge_requests/411"
export PR_INFRA_TEMPLATE_MISSING_V1="https://gitlab.com/HnBI/platform-as-a-service/infrastructure/-/merge_requests/3191"
export PR_MSK_TOPIC_CREATED_NON_ALPHABETIC="https://gitlab.com/HnBI/platform-as-a-service/test-projects/automate-code-review/-/merge_requests/5"
export PR_DYNAMO_MODIFY_NON_KEY_ATTR="https://gitlab.com/HnBI/platform-as-a-service/test-projects/automate-code-review/-/merge_requests/6"
export PR_CREATE_RDS_DATABASE_PROD_NON_COMPLIANT="https://gitlab.com/HnBI/platform-as-a-service/test-projects/automate-code-review/-/merge_requests/10"
export PR_TOO_MANY_FILES_CHANGED_NON_COMPLIANT="https://gitlab.com/HnBI/platform-as-a-service/infrastructure/-/merge_requests/3354"
export PR_DYNAMO_DB="https://gitlab.com/HnBI/platform-as-a-service/infrastructure/-/merge_requests/3209"
export PR_DYNAMO_DB_NON_KEY_ATTR_REAL="https://gitlab.com/HnBI/platform-as-a-service/infrastructure/-/merge_requests/3227"
export PR_MSK_KAFKA_TEST="https://gitlab.com/HnBI/platform-as-a-service/kafka/msk-topics/-/merge_requests/177"
export PR_INFRA_DYNAMODB_LARGE="https://gitlab.com/HnBI/platform-as-a-service/infrastructure/-/merge_requests/3434"
export PR_INFRA_RDS_INSTANCE_CLASS_MODIFIED="https://gitlab.com/HnBI/platform-as-a-service/infrastructure/-/merge_requests/3486"
export PR_INFRA_REMOVED="https://gitlab.com/HnBI/platform-as-a-service/infrastructure/-/merge_requests/3476"
export PR_CHANGELOG="https://gitlab.com/HnBI/platform-as-a-service/docker-images/k8s-deploy/-/merge_requests/171"
export PR_K8S_DEPLOY="https://gitlab.com/HnBI/platform-as-a-service/docker-images/k8s-deploy/-/merge_requests/176"
export DANGER_TEST_PR=176
export DANGER_PR_URL=$PR_K8S_DEPLOY
export TRIGGER_PAYLOAD=fixtures/mr.renovate-bot.json
export DANGER_VERBOSE=eye
